#nav-bar {
    position: fixed;
    padding-left: 2em;
    padding-right: 2em;
    height: 80px;
    width: 100%;
    z-index: 1;
    background-color: #00a087;
    font-color: #e8fdff;
    align-items: center;
    display: flex;
    flex-grow: row;
    justify-content: space-between;
  }

#nav-bar .logo {
    height: 80px;
    width: 80px;
    flex: : auto;
  }

#nav-bar .header {
    font-size: 2em;
    padding-left: 10px;
    flex: auto;
    color: #ffffff;
  }

#nav-bar .button {
    vertical-align: 140%;
    padding: .5em;
    margin-left: 11em;
    margin-right: auto;
    border-style: solid;
    border-color: black;
    border-width: .075em;
    border-radius: .25em;
    background-color: #e8fdff;
    font-size: 1.3em;
    font-weight: 300;
    color: #00a087;
    cursor: pointer;
}

#nav-bar .button:hover {
    color: black;
    background-color: white;
}